* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
:focus,
:active {
	// outline: none;
}
a:focus,
a:active {
	// outline: none;
}
html,
body {
	min-height: 100dvh;
	min-width: $minWidth + px;
}
body {
	color: $black;
	line-height: 1;
	font-family: $fontFamily;
	font-size: 15px;
	letter-spacing: -.4px;
	//text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #F5F3F2;
	@media(max-width: $s750) {
		padding-bottom: 80px;
	}
	&.filter-active{
		overflow: hidden;
		.filter-container{
			opacity: 1;
			pointer-events: auto;
			.filter-close-btn-mobile{
				transform: rotate(180deg);
			}
			.filter-container-block{
				transform: translateX(0);
			}
		}
	}
	&.product-page{
		@media(max-width: $s950) {
			padding-bottom: 90px;
		}
		@media(max-width: $s750) {
			padding-bottom: 140px;
		}
		.mobile-menu{
			border-radius: 0;
		}
	}
}
input,
button,
textarea {
	font-family: $fontFamily;
	font-size: inherit;
	transition: all .25s linear;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
a {
	color: inherit;
	transition: all .25s linear;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
	max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
	margin: 0;
}

.icon {
	&::before {
		content: "";
		mask: var(--icon) center center/contain no-repeat;
		-webkit-mask: var(--icon) center center/contain no-repeat;
		width: 24px;
		height: 24px;
		display: block;
		flex-shrink: 0;
		transition: 0.25s;
		background: $black;
	}
}

.flex{
	display: flex;
}

.flex-column{
	flex-direction: column;
}

.h-48{
	height: 48px;
	@media(max-width: $s750) {
		height: 48px;
	}
}

.h-56{
	height: 56px;
	@media(max-width: $s750) {
		height: 48px;
	}
}

.font-balsamiq{
	font-family: BalsamiqSans;
}

.content{
	h1{
		font-family: BalsamiqSans;
		font-size: 48px;
		line-height: 1.2;
		letter-spacing: -.8px;
		font-weight: 700;
		@media(max-width: $s750) {
			font-size: 38px;
		}
	}
	h2{
		font-family: BalsamiqSans;
		font-size: 36px;
		line-height: 1.2;
		letter-spacing: -.8px;
		font-weight: 700;
		@media(max-width: $s750) {
			font-size: 28px;
		}
	}
	h3{
		font-family: BalsamiqSans;
		font-size: 28px;
		line-height: 1.2;
		letter-spacing: -.8px;
		font-weight: 700;
		@media(max-width: $s750) {
			font-size: 22px;
		}
	}
	h4{
		font-family: BalsamiqSans;
		font-size: 22px;
		line-height: 1.2;
		letter-spacing: -.8px;
		font-weight: 700;
		@media(max-width: $s750) {
			font-size: 18px;
		}
	}
	h5{
		font-family: BalsamiqSans;
		font-size: 20px;
		line-height: 1.2;
		letter-spacing: -.8px;
		font-weight: 700;
		@media(max-width: $s750) {
			font-size: 18px;
		}
	}
	h6{
		font-family: BalsamiqSans;
		font-size: 18px;
		line-height: 1.2;
		letter-spacing: -.8px;
		font-weight: 700;
		@media(max-width: $s750) {
			font-size: 18px;
		}
	}
}

.size-36{
	font-size: 36px;
	line-height: 42px;
	letter-spacing: -.8px;
}

.size-28{
	font-size: 28px;
	line-height: 34px;
	letter-spacing: -.6px;
	@media(max-width: $s750) {
		font-size: 22px;
		line-height: 24px;
	}
}

.size-28-mobile{
	@media(max-width: $s750) {
		font-size: 28px;
		line-height: 34px;
	}
}

.word-break{
	word-break: break-all;
}

.size-24{
	font-size: 24px;
	letter-spacing: -.6px;
	line-height: 26px;
}

.size-22{
	font-size: 22px;
	letter-spacing: -0.6px;
	line-height: 24px;
}

.size-20{
	font-size: 20px;
	line-height: 24px;
}

.size-18{
	font-size: 18px;
	letter-spacing: -0.072px;
	line-height: 24px;
}

.size-14{
	font-size: 14px;
}

.size-13{
	font-size: 13px;
	line-height: 1.4;
}

.size-12{
	font-size: 12px;
}

.size-11{
	font-size: 11px;
}

.color-80{
	color: $black-light;
}

.color-60{
	color: rgba(54, 47, 60, 0.60);
}

.color-plum{
	color: $default-plum !important;
}

.color-orange{
	color: $orange;
}

a.color-orange:hover{
	color: #e0783a;
}

.color-green{
	color: #30C066;
}

.color-red{
	color: #C03042;
}

.text-underline{
	text-decoration: underline !important;
}

p + p{
	margin-top: 10px;
}

.mb-24{
	margin-bottom: 24px;
}

.mb-20{
	margin-bottom: 20px;
}

.mb-16{
	margin-bottom: 16px;
}

.mb-12{
	margin-bottom: 12px;
}

.mb-10{
	margin-bottom: 10px;
}

.mb-8{
	margin-bottom: 8px !important;
}

.mb-6{
	margin-bottom: 6px;
}

.mb-4{
	margin-bottom: 4px;
}

.mb-0{
	margin-bottom: 0 !important;
}

.mt-16{
	margin-top: 16px;
}

.lh-35{
	line-height: 1.35;
}

.fw-500{
	font-weight: 500;
}

.text-center{
	text-align: center;
}