body::after {
	content: "";
	background-color: rgba(54, 47, 60, 0.8);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
body.popup-show::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 8px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show{
	.popup__content, .popup__close {
		visibility: visible;
		transform: scale(1);
	}
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: white;
	padding: 24px;
	width: 100%;
	max-width: 400px;
	border-radius: 24px;
	.lock & {
		visibility: visible;
	}
	.input{
		height: 56px;
	}
	.button{
		width: 100%;
	}
	@media(max-width: $s750) {
		padding: 18px 20px;
	}
}

.popup__close{
	position: fixed;
	top: 60px;
	right: 48px;
	background: rgba(54, 47, 60, 0.80);
	border-radius: 50%;
	width: 44px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: scale(0);
	&:before{
		background: $white;
	}
	&:hover{
		background: $orange;
	}
	@media(max-width: $s950) {
		right: 32px;
	}
	@media(max-width: $s750) {
		right: 8px;
	}
}

#report-arrival{
	.popup__content{
		max-width: 680px;
	}
}

.popup-title{
	font-family: 'BalsamiqSans';
	font-size: 28px;
	letter-spacing: -.6px;
	margin-bottom: 23px;
}

.check-line.check-line-agreed{
	margin: -4px 0 20px;

	a{
		color: $orange;
		&:hover{
			text-decoration: underline;
		}
	}
	.check-label{
		font-size: 13px;
	}
}