//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-flex;
	padding: 0 24px;
	align-items: center;
	justify-content: center;
	border-radius: $radius;
	font-size: 15px;
	font-weight: 600;
	font-family: inherit;
	min-height: 34px;
	&:before{
		margin-right: 9px;
	}
	@media(max-width: $s750) {
		padding: 0 16px;
	}
	&[disabled]{
		pointer-events: none;
	}
}

.button-plum{
	background: $plum;
	color: $black;
	&:hover{
		background: $plum-hover;
		color: $black;
	}
	&:active{
		background: $plum-active;
		color: $black;
	}
}

.button-orange{
	background: $orange;
	color: $white;
	&:before{
		background: $white;
	}
	&:hover{
		background: $orange-hover;
		color: $white;
	}
	&:active{
		background: $orange-active;
		color: $white;
	}
	&[disabled]{
		color: rgba(54, 47, 60, 0.35);
		background: rgba(54, 47, 60, 0.24);
		pointer-events: none;
	}
}

.button-red{
	color: $white;
	background: #F03C53;
	&:hover{
		background: #e1394f;
		color: $white;
	}
	&:active{
		background: #d3364b;
		color: $white;
	}
}

.button-orange-light{
	background: $orange-light;
	color: $orange;
	&:before{
		background: $orange;
	}
	&:hover{
		background: $orange-light-hover;
		color: $orange;
	}
	&:active{
		background: $orange-light-active;
		color: $orange;
	}
	&[disabled]{
		opacity: .5;
	}
}

.button-white{
	background: #F4ECE6;
	color: $black;
	&:before{
		background: $black;
	}
	&:hover{
		background: #e3ded9;
		color: $black;
	}
	&:active{
		background: #dcd8d6;
		color: $black;
	}
}

.button-catalog{
	flex-shrink: 0;
	margin-right: 8px;
	position: relative;
	@media(max-width: $s950) {
		font-size: 0;
		&:before{
			margin-right: 0;
		}
	}
	@media(max-width: $s750) {
		display: none;
	}
}

.button-basket{
	margin-left: 4px;
	@media(max-width: $s950) {
		font-size: 0;
		&:before{
			margin-right: 0;
		}
	}
	@media(max-width: $s750) {
		display: none;
	}
}

.button-basket-mobile{
	height: 50px;
	&:before{
		margin-right: 0;
	}
}

.filter-button-container{
	margin-top: 16px;
	.button-orange-light{
		margin-top: 8px;
	}
	@media(max-width: $s1200) {
		margin: 16px -16px -16px;
		padding: 16px;
		position: sticky;
		background: #F5F3F2;
		bottom: -78px;
		z-index: 2;
		border-radius: 24px;
	}
}

.button-filter{
	width: 100%;
	height: 48px;
}

.catalog-no-result{
	.button{
		font-size: 13px;
		padding: 0 12px;
	}
}

.button-mini{
	font-size: 13px;
	padding: 0 12px;
}

.button-100{
	width: 100%;
}

