//<FORM>
// Снипет (HTML):
.form-item{
	margin-bottom: 24px;
	display: flex;
	flex-direction: column;
}

.form-item__label{
	font-family: 'BalsamiqSans';
	font-size: 20px;
	letter-spacing: -.4px;
	line-height: 24px;
	margin-bottom: 6px;
}

.select-element-standard{
	font-size: 15px;
	width: 100% !important;
	.select-element__default{
		flex-direction: row-reverse;
		justify-content: space-between;
		height: 56px;
		&:before{
			margin: 0 0 0 10px;
		}
	}
}

//</FORM>

// <BUTTONS>
// Снипет (HTML): btn
@import "button";

// <INPUTS>
// Снипет (HTML): inp
@import "input";

// <CHECK>
// Снипет (HTML): chk
// @import "checkbox";

// <RADIO>
// Снипет (HTML): opt
// @import "radio";

// <SELECT>
// Снипет (HTML): sel
// @import "select";

// <RATING>
// Снипет (HTML): rating
// @import "rating";

// <QUANTITY>
// Снипет (HTML): qa
// @import "quantity";

// <RANGE>
// Снипет (HTML):
// @import "range";
