.form-item__radio-elements{
	display: flex;
	flex-flow: row wrap;
	margin-top: -6px;
}

.form-item__radio-element{
	position: relative;
	display: inline-flex;
	input{
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		z-index: -1;
		&:checked{
			& + .form-item__radio-label{
				border: 1px solid $orange;
			}
		}
	}
}

.form-item__radio-label{
	margin-top: 6px;
	margin-right: 6px;
	padding: 6px 8px;
	background: rgba(191, 177, 172, 0.16);
	border-radius: 8px;
	font-size: 13px;
	font-weight: 500;
	cursor: pointer;
	border: 1px solid transparent;
	transition: all .25s linear;
	&:hover{
		border: 1px solid $orange;
	}
}