.top-send {
  margin: 8px 8px 0;
  background: $plum;
  border-radius: $radius;
  position: relative;
  z-index: 3;
}

.top-send__container {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $default-plum-dark;
  font-size: 15px;
  font-weight: 500;

  &:before {
    margin-right: 9px;
    background: $default-plum-dark;
  }

  @media(max-width: $s750) {
    justify-content: flex-start;
    padding: 10px 8px;
    height: 60px;
    line-height: 20px;
  }
  @media(max-width: $s400) {
    height: 60px;
  }
}

header {
  position: sticky;
  top: 8px;
  transition: all .25s linear;
  margin: 8px 8px 0;
  z-index: 2;

  &:before {
    background: #F5F3F2;
    content: '';
    left: 0;
    width: 100%;
    bottom: calc(100% - 20px);
    position: absolute;
    height: 100px;
  }

}

.header-container {
  background: $white;
  position: relative;
  border-radius: $radius-24;
  padding: 16px 0;
  z-index: 1;
  @media(max-width: $s1300) {
    .container {
      padding: 0 16px;
    }
  }
  @media(max-width: $s1200) {
    .container {
      padding: 0 48px;
    }
  }
  @media(max-width: $s950) {
    .container {
      padding: 0 32px;
    }
  }
  @media(max-width: $s750) {
    padding: 2px 0 12px;
    .container {
      padding: 0 12px;
    }
  }
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu__items {
  display: flex;
  align-items: center;
}

.header-menu__item {
  margin-right: 18px;

  &:last-child {
    margin-right: 0;
  }
}

.header-menu__link {
  color: $black-light;
  font-size: 13px;
  &:hover{
    color: $orange;
  }
}

.header-center {
  display: flex;
  align-items: center;
  margin-top: 12px;
  @media(max-width: $s750) {
    margin-top: 0;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.header-contact {
  display: none;
  @media(max-width: $s750) {
    display: flex;
    align-items: center;
    font-size: 13px;
    &:before {
      width: 18px;
      margin-right: 4px;
      height: 18px;
    }
    .icon {
      &:before {
        width: 16px;
        height: 16px;
        background: $orange;
      }
    }
  }
}

.header-logo {
  flex-shrink: 0;
  margin-right: 16px;
  @media(max-width: $s1200) {
    width: 160px;
  }
}

.search-active{
  overflow: hidden;
  .search-blackout{
    opacity: 1;
    pointer-events: auto;
  }
  .top-send{
    z-index: 1;
  }
  header:before{
    opacity: 0;
  }
  .input-search{
    border-radius: var(--radius-16, 16px);
    border: var(--border-m, 1px) solid var(--border-active, #F07F3C);
    background: linear-gradient(0deg, rgba(185, 136, 98, 0.10) 0%, rgba(185, 136, 98, 0.10) 100%), #FFF;
  }
  .search-submit{
    z-index: 2;
  }
  .search-result{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
}

.input-search{
  transition: all .25s linear;
  position: relative;
  z-index: 2;
}

.header-search {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  @media(max-width: $s750) {
    margin-top: 8px;
  }
}

.search-result{
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  width: 100%;
  background: $white;
  border-radius: $radius-24;
  z-index: 2;
  transform: translateY(-8px);
  transition: all .25s linear;
  opacity: 0;
  pointer-events: none;
  padding-bottom: 8px;
}

.search-result__item-delete{
  position: absolute;
  right: 16px;
  &:before{
    opacity: .45;
    width: 16px;
    height: 16px;
  }
  &:hover{
    &:before {
      opacity: .55;
    }
  }
}

.search-result__item{
  padding: 8px 16px;
  display: flex;
  font-weight: 500;
  align-items: center;
  &:before{
    content: "";
    width: 24px;
    margin-right: 8px;
    height: 24px;
    display: block;
    flex-shrink: 0;
    transition: 0.25s;
    background: $black;
    opacity: .45;
    mask: url("../img/icon/icon-search.svg") center center/contain no-repeat;
  }
  &:hover{
    background: rgba(191, 177, 172, 0.10);
  }
}

.search-tag-items{
  display: flex;
  flex-flow: row wrap;
  padding: 8px 16px;
}

.search-tag-item{
  font-size: 13px;
  font-weight: 500;
  padding: 6px 8px;
  background: rgba(191, 177, 172, 0.16);
  border-radius: 8px;
  margin-top: 6px;
  margin-right: 6px;
  line-height: 18px;
  &:hover{
    background: rgba(191, 177, 172, 0.26);
  }
}

.search-result-empty{
  height: 294px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .icon{
    margin-bottom: 10px;
    &:before{
      width: 32px;
      height: 32px;
      background: $orange;
    }
  }
}

.search-result-empty__title{
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 4px;
}

.search-result-empty__text{
  color: $black-light;
  font-size: 12px;
  line-height: 16px;
}

.search-result__items-history{
  .search-result__item{
    padding-right: 42px;
    &:before{
      mask: url("../img/icon/icon-clock.svg") center center/contain no-repeat;
    }
  }
}

.search-submit {
  position: absolute;
  right: 18px;
}

.search-result__head{
  padding: 16px 16px 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-result__title{
  font-size: 22px;
  font-family: 'BalsamiqSans';
  line-height: 24px;
  letter-spacing: -.6px;
}

.search-result__delete{
  color: $orange;
  font-size: 14px;
  font-weight: 500;
  &:hover{
    color: #da7437;
  }
}

.header-top {
  @media(max-width: $s750) {
    display: none;
  }
}

.header-event {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin-left: 16px;
  @media(max-width: $s750) {
    display: none;
  }
}

.header-event__link {
  padding: 6px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  font-weight: 500;
  min-width: 72px;

  &:before {
    margin-bottom: 3px;
  }

  @media(max-width: $s1200) {
    display: none;
    &:nth-child(4) {
      display: flex;
    }
  }
  &:hover{
    color: $orange;
    &:before{
      background: $orange;
    }
  }
}

.header-catalog {
  position: relative;
  @media(max-width: $s750) {
    display: none;
  }
}

.header-catalog-menu {
  position: absolute;
  left: 0;
  width: 680px;
  padding: 16px 16px 0;
  top: calc(100% + 8px);
  background: $white;
  box-shadow: 0px 2px 12px 0px rgba(54, 47, 60, 0.08);
  border-radius: $radius-24;
  transition: all .25s linear;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-8px);
  @media(max-width: $s950) {
    left: -200px;
  }

}

.header-catalog-menu-items {
  display: flex;
  flex-flow: row wrap;
}

.header-catalog-menu-item {
  width: 50%;
  margin-bottom: 16px;
  @media(max-width: $s750) {
    width: 100%;
  }
}

.header-catalog-menu-link {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 15px;
  font-weight: 500;

  &:hover {
    color: $default-plum;
  }
}

.header-catalog-menu-icon {
  width: 40px;
  height: 40px;
  border-radius: $radius-12;
  background: $plum;
  margin-right: 12px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    background: $default-plum-dark;
  }
}

.header-catalog__head {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  justify-content: space-between;
}

.header-blackout, .search-blackout {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(54, 47, 60, 0.80);
  pointer-events: none;
  opacity: 0;
  transition: all .25s linear;
}

.catalog-default {
  width: 60px;
  @media(max-width: $s950) {
    display: none !important;
  }
}

.catalog-active {
  display: none;
  width: 60px;
  @media(max-width: $s950) {
    display: none !important;
  }
}

.catalog-menu-active {
  .top-send{
    z-index: 1;
  }
  header:before{
    opacity: 0;
  }
  .catalog-default {
    display: none;
  }

  .catalog-active {
    display: block;
  }

  .header-blackout {
    opacity: 1;
    pointer-events: auto;
  }

  .button-catalog {
    z-index: 2;
    background: linear-gradient(0deg, rgba(153, 119, 174, 0.16) 0%, rgba(153, 119, 174, 0.16) 100%), #FFF;

    &:before {
      mask: url("../img/icon/icon-close.svg") center center/contain no-repeat;
    }
  }

  .header-catalog-menu {
    opacity: 1;
    pointer-events: auto;
    z-index: 2;
    transform: translateY(0);
  }
}

.header-event-user{
  position: relative;
  &:hover{
    .header-user-panel{
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.header-user-panel{
  position: absolute;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: all .25s linear;
}

.header-user-panel-container{
  width: 256px;
  background: white;
  z-index: 1;
  padding: 20px;
  border-radius: 24px;
  box-shadow: 0px 2px 12px 0px rgba(54, 47, 60, 0.08);
}

.header-user-top{
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-user-info{
  display: flex;
  align-items: center;
}

.header-user-avatar{
  width: 44px;
  height: 44px;
  margin-right: 10px;
  flex-shrink: 0;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
  }
}

.header-user-text{
  font-family: 'BalsamiqSans';
  font-size: 18px;
  color: $orange;
  letter-spacing: -0.072px;
}

.header-user-exit{
  &:before{
    background: #7A608B;
  }
  &:hover{
    &:before{
      background: $orange;
    }
  }
}

.header-user-menu-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  &:hover{
    color: $orange;
    .header-user-menu-left:before{
      background: $orange;
    }
    .header-user-menu-left{
      color: $orange;
    }
  }
}

.header-user-menu-left{
  font-size: 13px;
  font-weight: 500;
  transition: all .25s linear;
  display: flex;
  align-items: center;
  &:before{
    background: #7A608B;
    margin-right: 8px;
  }
}


.header-user-menu-icon{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: rgba(54, 47, 60, 0.60);
  font-size: 12px;
  font-weight: 500;
  &:before{
    width: 20px;
    height: 20px;
    background: rgba(54, 47, 60, 0.45);
    margin-left: 2px;
  }
}

.header-user-menu-item-final{
  margin-top: 8px;
  padding-top: 8px;
  border-top: 1px solid rgba(54, 47, 60, 0.12);
}

.header-user-name{
  color: #362F3C;
}

.header-user-phone{
  font-size: 11px;
  font-weight: 500;
  color: rgba(54, 47, 60, 0.6);
  font-family: 'Onest';
  margin-top: 3px;
}

.box-count{
  background: rgba(240, 127, 60, 0.16);
  color: #F07F3C;
  width: 24px;
  height: 24px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.header-user-menu-link-logout{
  .header-user-menu-left{
    color: #C03042;
    &:before{
      background: #C03042;
    }
  }
}