@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================

@import "variables";

$fontFamily: "Onest";
$minWidth: 360;
$maxWidth: 1920;
$maxWidthContainer: 1170;

// Брейк-поинты

$s1300: 1300px;
$s1200: 1200px;
$s950: 950px;
$s750: 750px;
$s400: 400px;

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {
  &::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    border-radius: 12px;
  }
  &::-webkit-scrollbar-track {
    background: $white;
    border-radius: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background: #AD93BE;
    border-radius: 12px;
  }
  // Скролл заблокирован
  .lock & {
    overflow: hidden;
    touch-action: none;
  }
  // Сайт загружен
  .loaded & {
  }
}
::selection {
  //   background: green;
  //   color: var(--whte);
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
// Отзывчивая
.container{
  padding: 0 24px;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  @media(max-width: $s1200) {
    padding: 0 48px;
  }
  @media(max-width: $s950) {
    padding: 0 32px;
  }
  @media(max-width: $s750) {
    padding: 0 8px;
  }
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомагательных классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";


// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

@import "nouislider/dist/nouislider.css";
@import "@fancyapps/ui/dist/fancybox/fancybox.css";

// Подключение стилей отдельных страниц
@import "home";
